<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

	<!-- Title -->
	<title>Roger Byrne CV</title>
	
	<!-- Meta tags -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" media="screen, projection" href="css/screen.css" />

	<!-- Scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
	<script type="text/javascript" src="js/cufon-yui.js"></script>
	<script type="text/javascript" src="js/TeXGyreSchola.font.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>

	<!-- PNG transparency fix for IE 6 -->
	<!--[if IE 6]>
	<script src="js/DD_belatedPNG.js"></script>
	<script>DD_belatedPNG.fix('.png_bg, #container, div.tagline p, div.section h2, div.section ul li, div.section div.interests h3, div.section div.contact h3, div.section div.contact p, div.header img, div.section div.interests ul li img');</script>
	<![endif]-->
	
	<script type="text/javascript">
		Cufon.replace('h1', { textShadow: '#fff 1px 1px' });
		Cufon.replace('h2', { textShadow: '#fff 1px 1px' });
		Cufon.replace('div.section div h3', { textShadow: '#fff 1px 1px' });
	</script>

</head>

<body>

<div id="container">

	<div class="header group">
		<h1>Roger Byrne <span>Community Management & Strategy with Social & New Media at SocialMediaFish</span></h1>
	</div><!-- /header -->
	
	<div class="tagline">
		<p>Social Media is the buzz word of 2009, I help businesses improve their client communications, interactions, support &amp; effect change relating to cost savings and increasing customer loyalty by utilizing Social &amp; New Media tools.</p>		
	</div><!-- /tagline -->

	<div class="section group">
		<h2 class="employment">Employment</h2>
		<h3>Current</h3>
		<ul>
			<li>Community Management & Strategy with Social & New Media at SocialMediaFish</li>
		</ul>
		<h3>Past</h3>
		<ul class="past">
			<li>Business Partner at Deep Divers</li>
			<li>Internal Sales Manager at Arrow Electronics</li>
			<li>Account Manager at BMC Software</li>
			<li>Product Marketing at Texas Instruments</li>
			<li>Account Manager at Scientifc Computers Ltd</li>
			<li>Apprentice Electronics Engineer at Texas Instruments</li>
			<li>Account Manager at Arrow Electronics</li>
		</ul>
	</div><!-- /section-employment -->
	
	<div class="section group">
		<h2 class="experience">Experience</h2>
		<ol>
			<li>
				<h4>Community Management &amp; Strategy with Social &amp; New Media</h4>
				<h5>SocialMediaFish - (Public Relations and Communications industry)</h5>
				<span>December 2008 - Present (1 year)</span>
				<p>Working with businesses to improve Communications through Social &amp; New Media online interaction.</p>
			</li>
			<li>
				<h4>Business Partner</h4>
				<h5>Deep Divers - (Sports industry)</h5>
				<span>February 2008 - October 2009 (1 year 9 months)</span>
				<p>Owner/Partner</p>
			</li>
			<li>
				<h4>Account Manager</h4>
				<h5>BMC Software - (Public Company; BMC; Computer Software industry)</h5>
				<span>1998 - 2001 (3 years)</span>
				<p>Managing customer relationships in order to sell high-level computer software into various markets within the London area. Target &pound;1 Million per annum.</p>
			</li>
			<li>
				<h4>Account Manager</h4>
				<h5>Arrow Electronics - (Public Company; ARW; Semiconductors industry)</h5>
				<span>1996 - 1998 (2 years)</span>
				<p>Develop business/relationships within existing accounts. Focus on achieving specified targets within vertical markets such as Finance, Telecommunications and Defense &amp; Aerospace.</p>
			</li>
			<li>
				<h4>Account Manager</h4>
				<h5>Arrow Electronics - (Public Company; ARW; Semiconductors industry)</h5>
				<span>1995 - 1996 (1 year)</span>
				<p>Take existing small accounts, identify potential key customers and develop business and relationship within those focus accounts. Increased revenue from &pound;250k to &pound;750k within first 12 months.</p>
			</li>
			<li>
				<h4>Internal Sales Manager</h4>
				<h5>Arrow Electronics - (Public Company; ARW; Semiconductors industry)</h5>
				<span>1992 - 1995 (3 years)</span>
				<p>Responsible for Premier Accounts T/O &pound;7.5 million.</p>
			</li>
			<li>
				<h4>Product Marketing</h4>
				<h5>Texas Instruments - (Public Company; TXN; Semiconductors industry)</h5>
				<span>1990 - 1992 (2 years)</span>
				<p>Forecasting market trends. Developing pricing strategies for key accounts. Report research and preparation for the Product Marketing Manager.</p>
			</li>
			<li>
				<h4>Apprentice Electronics Engineer</h4>
				<h5>Texas Instruments - (Public Company; TXN; Semiconductors industry)</h5>
				<span>1988 - 1990 (2 years)</span>
				<p>First year offsite training in Electronics and other technology areas. Second year onsite learning repair and maintenance.</p>
			</li>
		</ol>
	</div><!-- /section-experience -->
	
	<div class="section group">
		<h2 class="education">Education</h2>
		<ol>
			<li>
				<h4>Bedford College</h4>
				<h5>HNC, Electronics</h5>
				<span>Activities and Societies:</span>
				<p>Higher National Certificate in Electronic Engineering</p>
			</li>
		</ol>
	</div><!-- /section-education -->
	
	<div class="section group">
		
		<div class="interests">
			<h3>Interests</h3>
			<p>Social Media, Wordpress & Design, sharing inspiration, originally from England now in Egypt</p>
			<ul>
				<li><a href="http://twitter.com/imrogb"><img src="img/icon-twitter.png" alt="Twitter" /></a></li>
				<li><a href="http://facebook.com/rogerbyrne"><img src="img/icon-fb.png" alt="Facebook" /></a></li>
				<li><a href="http://www.linkedin.com/in/rogermarkbyrne"><img src="img/icon-linkedin.png" alt="LinkedIn" /></a></li>
			</ul>
		</div>
		
		<div class="contact">
			<h3>Contact Details</h3>
			<div class="vcard"><!-- hello, microformats! -->
				<p class="url"><a href="#" title="Visit my personal website">http://www.socialmediafish.com</a></p>
				<p class="tel">+20 12 82 44 581</p>
				<p class="email"><a href="mailto:rogermbyrne@gmail.com" title="Shoot me an email">rogerbyrne@gmail.com</a></p>
			</div>
		</div>
		
	</div><!-- /section-interests/contact -->
	
	<div class="footer group">
		<p>Do you want a cool CV like this, just click <a href="#" title="Download the source files of this CV">here</a> and grab the source files.</p>
		<p class="design">Design by <a href="http://heinmaas.com">Hein Maas</a></p><br />
		<p>Icons by <a href="http://www.komodomedia.com/download/#social-network-icon-pack" title="Icons by komodomedia">komodomedia</a> 
		
	</div>
	
</div><!-- /container -->

</body>

</html>